.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    line-height: 75px;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    font-size: 50px;
}

.gameContainer{
font-family: "Permanent Marker", cursive;
text-align: center;
}

.cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

body {
background-image: url(../img/backround.png);
background-size: cover;
}

h1{
 padding: 60px;
}

button{
   background-color: aquamarine;
   width: 150px;
   border-radius: 5px;
   height: 50px;
}